.dnd-flow {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.dropzone-background {
  width: 100%;
  height: 100%;
}

.dropzone-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
}

.vue-flow__selection {
  background: rgba(0, 100, 255, 0.1);
  border: 1px solid #0064ff;
}